<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>References</title>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'progressTracker/style.css' %}">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'progressTracker:index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'progressTracker:exercises' %}">Exercises</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'progressTracker:references' %}">References</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'progressTracker:statistics' %}">Statistics</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
</head>
<body>
<hr>
<div class="form-popup" id="executionForm">
</div>

<h1>Your Exercise References</h1>
{% if exercise_reference_list %}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Author</th>
            <th>ISBN</th>
        </tr>
    {% for reference in exercise_reference_list %}
        <tr>
            <td>{{ reference.id }}</td>
            <td>{{ reference.reference_name }}</td>
            <td>{{ reference.reference_author }}</td>
            <td>{{ reference.reference_ISBN }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No References available.</p>
{% endif %}

<script>
function openForm() {
  document.getElementById("executionForm").style.display = "block";
  let arg1 = event.target.getAttribute('data-arg1');

  var date = new Date();
  var currentDate = date.toISOString().slice(0,10);
  var currentTime = date.getHours() + ':' + date.getMinutes();

  // pre-fill form:
  document.getElementById("id_exercise").value = arg1;
  document.getElementById("id_start").value = currentDate + " " + currentTime;
}

function closeForm() {
  document.getElementById("executionForm").style.display = "none";
}
</script>

</body>
</html>