<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise Detail</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'progressTracker/style.css' %}">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Progress Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'progressTracker:index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'progressTracker:exercises' %}">Exercises</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'progressTracker:references' %}">References</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'progressTracker:statistics' %}">Statistics</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
</head>
<body>
<h1>{{ exercise }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<table>
    <tr>
        <th> Exercise Name </th>
        <th> Exercise added </th>
        <th> Times exercise executed </th>
    </tr>
    <tr>
        <td>{{ exercise.exercise_name }}</td>
        <td>{{ exercise.exercise_add_date }}</td>
        <td>{{ exercise.exercise_executed }}</td>
    </tr>
</table>
<hr>
<p>Do you like to execute the exercise?</p>
<form action="{% url 'progressTracker:exercise_execution' exercise.id %}" method="post">
    {% csrf_token %}
    <input type="radio" name="execution" id="execution1" value="Executed"><label>Execute</label><br>
    <input type="radio" name="execution" id="execution2" value="Not Executed"><label>Don't Execute</label><br>
    <input type="submit" value="Execute">
</form>

</body>
</html>