<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'progressTracker/style.css' %}">
</head>
<body>
<h1>placeholder navigation</h1>
<ul>
    <li><a href="{% url 'progressTracker:exercises' %}">Exercises Overview</a></li>
</ul>
<hr>
<div class="form-popup" id="executionForm">
  <form action="/action_page.php" class="form-container">
    <h1>Execution</h1>
    <label for="exercise_id"><b>Exercise ID</b></label>
    <input type="text" name="exercise_id" id="exercise_id" required disabled>

    <label for="start"><b>Time started</b></label>
    <input type="text" name="start" id="start" required disabled>

    <label for="end"><b>Time ended</b></label>
    <input type="text" name="end" id="end" placeholder="Will be filled when done." required disabled>

    <label for="rating"><b>rating</b></label>
    <input type="text" placeholder="Rate from 1 to 10" name="rating" required>

    <button type="submit" class="btn">Done</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
  </form>
</div>

<h1>Your Exercises</h1>
{% if exercise_list %}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Added on</th>
            <th>Reference</th>
            <th>Execute</th>
        </tr>
    {% for exercise in exercise_list %}
        <tr>
            <td><a href="{% url 'progressTracker:exercise_detail' exercise.id %}">{{ exercise.id }}</a></td>
            <td>{{ exercise.exercise_name }}</td>
            <td>{{ exercise.exercise_added }}</td>
            <td>{{ exercise.exercise_reference }}</td>
            <td><button class="execute-button" onclick="openForm()" data-arg1="{{ exercise.id }}">Execute</button></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No exercises available.</p>
{% endif %}

<script>
function openForm() {
  document.getElementById("executionForm").style.display = "block";
  let arg1 = event.target.getAttribute('data-arg1');

  var date = new Date();
  var currentDate = date.toISOString().slice(0,10);
  var currentTime = date.getHours() + ':' + date.getMinutes();

  // pre-fill form:
  document.getElementById("exercise_id").value = arg1;
  document.getElementById("start").value = currentDate + " " + currentTime;
}

function closeForm() {
  document.getElementById("executionForm").style.display = "none";
}
</script>

</body>
</html>