<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'progressTracker/style.css' %}">
</head>
<body>
<h1>Most recent Executions</h1>
{% if latest_execution_list %}
    <ul>
    {% for execution in latest_execution_list %}
        <li><a href="{% url 'progressTracker:session_detail' session.id %}">{{ execution.execution_start }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No executions are available.</p>
{% endif %}

<h1>Your Exercises</h1>
{% if exercise_list %}
    <ul>
    {% for exercise in exercise_list %}
        <li><a href="{% url 'progressTracker:exercise_detail' exercise.id %}">{{ exercise }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No exercises available.</p>
{% endif %}

</body>
</html>