{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Progress Tracker</title>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'progressTracker/style.css' %}">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Progress Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'progressTracker:index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'progressTracker:exercises' %}">Exercises</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'progressTracker:references' %}">References</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'progressTracker:statistics' %}">Statistics</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
</head>
<body>

<!-- POP UP FORM -->
<div class="form-popup" id="executionForm">
  <form action="{% url 'progressTracker:index' %}" class="form-container" method="post">
    {% csrf_token %}
    <h1>Execution</h1>
    {{ form }}

    <button type="submit" class="btn">Done</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
    <button type="button" label="Now" class="btn now" onclick="getTime()" name="timer" id="time"> Now </button>

  </form>
</div>
<!-- END POP UP FORM -->
<div class="sidestats">
Total Time: {{ total_execution_time }}
</div>
<div class="container">
<span id="minutes"></span>:<span id="seconds"></span>
    </div>
<div class="container">
  <h2>Most recent Exercise executions</h2>
  {% if latest_execution_list %}
      <table>
          <tr>
              <th>Date</th>
              <th>Duration</th>
              <th>Exercise</th>
              <th>Rating</th>
        </tr>
    {% for execution in latest_execution_list %}
        <tr>
            <td>{{ execution.date_of_execution_formatted }}</td>
            <td>{{ execution.duration_executed }}</td>
            <td>{{ execution.exercise }}</td>
            <td>{{ execution.execution_rating }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No executions are available.</p>
{% endif %}
</div>
<div class="container">
<h2>Your Exercises</h2>
{% if exercise_list %}
    <table>
        <tr>
            <th>Name</th>
            <th>Added on</th>
            <th>Reference</th>
            <th>Execute</th>
        </tr>
    {% for exercise in exercise_list %}
        <tr>
            <td>{{ exercise.exercise_name }}</td>
            <td>{{ exercise.exercise_added }}</td>
            <td>{{ exercise.exercise_reference }}</td>
            <td><button class="execute-button" onclick="openForm()" data-arg1="{{ exercise.id }}">Execute</button></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No exercises available.</p>
{% endif %}
</div>

<div class="container">
<h1>Statistics</h1>
    <p>Duration over time</p>
    {% autoescape off %}
        {{ plot_div }}
    {% endautoescape %}
</div>

<script>
function openForm() {
  document.getElementById("executionForm").style.display = "block";
  let arg1 = event.target.getAttribute('data-arg1');

  var date = new Date();
  var currentDate = date.toISOString().slice(0,10);
  var currentTime = date.getHours() + ':' + date.getMinutes();

  // pre-fill form:
  document.getElementById("id_exercise").value = arg1;
  document.getElementById("id_start").value = currentDate + " " + currentTime;

  // Start Practice timer
  var h1 = seconds = 0, minutes = 0, hours = 0

  function add() {
    seconds++;
    if (seconds >= 60) {
        seconds = 0;
        minutes++;
        if (minutes >= 60) {
            minutes = 0;
            hours++;
        }
    }

    document.getElementById("id_timer").value = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);

    timer();
    }
    function timer() {
        t = setTimeout(add, 1000);
    }

    timer();
}

function closeForm() {
  document.getElementById("executionForm").style.display = "none";
}

function getTime() {
  var date = new Date()
  var currentDate = date.toISOString().slice(0,10);
  var currentTime = date.getHours() + ':' + date.getMinutes();

  document.getElementById("id_end").value = currentDate + " " + currentTime;
}


</script>





</body>
</html>